<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 


<title>Swahilibox : Admin</title>

<% include ../admin/partials/head.ejs %>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>
  </head>

<body>
<% include ../admin/partials/nav %>

<!--menu bar-->
 <aside>
<% include ../admin/partials/sidebar %>
 </aside>

 <section id="main-content">
   <section class="wrapper">						
      <div class="row">
          <div class="col-md-offset-2 col-md-7 col-sm-12 col-xs-12">
         <div class="panel panel-default">
            <div class="panel panel-body">
                       
                    <form action="/admin/create" method="POST">
            
                        <div class="form-group">
                            <label>EVENT TITLE<span class="required">*</span></label>
                            <input type="text" name="title" class="form-control" placeholder="catchy name">
                            <input type="hidden" id="avatar-url" name="avatar" value="/images/default.png">
                        </div>
            
                        <div class="form-group">
                            <label>VENUE<span class="required">*</span></label>
                            <input type="text" name="venue" class="form-control" placeholder="Venue">
                        </div>
            
                        <div class="form-group">
                            <label>ORGANIZER<span class="required">*</span></label>
                            <input type="text" name="organizer" class="form-control" placeholder="ORGANIZER">
                        </div>
            
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                             <label>START<span class="required">*</span></label>
                             <div class='input-group date' id='datetimepicker1'>
                              <input type='text' name="start" class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                             <label>END<span class="required">*</span></label>
                             <input type="text" name="end" class="form-control" placeholder="End">
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <label>DESCRIPTION<span class="required">*</span></label>
                            <textarea name="description" rows="2" class="form-control"></textarea>
                        </div>
         
                        <div class="" style="margin-bottom: 5px;">
                          <input type="file" id="file-input">
                          <p id="status">Please select a file</p>
                          <img style="border:1px solid gray;width:300px;height: 100px;"  id="preview" src="/images/images.jpeg">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg">Create</button>
                        </div>
                        
                    </form>
            </div>
         </div>
        </div>
      </div>
   </section>
</section>		

<!--content-->

<!-- javascripts -->
<script>
        /*
          Function to carry out the actual PUT request to S3 using the signed request from the app.
        */
        function uploadFile(file, signedRequest, url){
          const xhr = new XMLHttpRequest();
          xhr.open('PUT', signedRequest);
          xhr.onreadystatechange = () => {
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                document.getElementById('preview').src = url;
                document.getElementById('avatar-url').value = url;
              }
              else{
                alert('Could not upload file.');
              }
            }
          };
          xhr.send(file);
        }
        /*
          Function to get the temporary signed request from the app.
          If request successful, continue to upload the file using this signed
          request.
        */
        function getSignedRequest(file){
          const xhr = new XMLHttpRequest();
          xhr.open('GET', `/admin/sign-s3?file-name=${file.name}&file-type=${file.type}`);
          xhr.onreadystatechange = () => {
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                const response = JSON.parse(xhr.responseText);
                uploadFile(file, response.signedRequest, response.url);
              }
              else{
                alert('Could not get signed URL.');
              }
            }
          };
          xhr.send();
        }
        /*
         Function called when file input updated. If there is a file selected, then
         start upload procedure by asking for a signed request from the app.
        */
        function initUpload(){
          const files = document.getElementById('file-input').files;
          const file = files[0];
          if(file == null){
            return alert('No file selected.');
          }
          getSignedRequest(file);
        }
        /*
         Bind listeners when the page loads.
        */
        (() => {
            document.getElementById('file-input').onchange = initUpload;
        })();

        (function () {
            ('#datetimepicker1').datetimepicker();
        });
        </script>

</body>
</html>
