<div class="footer">
    <div class="container">
 
    
      <div class="connect">
       <h3 class="text-center">Connect With Us</h3>
       <div class="row">
 
       <div class="col-md-4 col-xs-12">
        <div class="footer-loc">
          <p>Top Floor - Dalal House,</p>
          <p>Sir Mbarak Hinawy Road,</p>
          <p>Mombasa, Kenya.</p>
          <p>E: info@swahilibox.co.ke</p>
        <div class="col-md-6 col-xs-12">
         <div class="footer-icon">
          <span><a href="#"><i class="fab fa-facebook-f "></i></a></span>
          <span><a href="#"><i class="fab fa-twitter "></i></a></span> 
          <span><a href="#"><i class="fab fa-linkedin "></i></a></span> 
          <span><a href="#"><i class="fab fa-github"></i></a></span>
         </div>
        </div>
       </div>
 
 
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="footer-note">
         <h3>Do Not miss out on our weekily update. Subscribe Now.</h3>
        </div>
      </div>
    
      <div class="col-md-4 col-xs-12">
      <div class="footer-form">
       <div class="col-md-8">
        <div class="form-group">
          <input class="form-control" name="email" type="email" v-bind="name">
        </div>
       </div>
       <div class="col-md-4">
        <div class="form-group">
          <button class="btn btn-primary">Subscribe</button>
        </div>
       </div>
       </div>
     </div>
     </div>
     </div>
    </div>
   </div>
 
 
     <div class="footer-strip">
      <span><a href="#">SERVICE</a></span>
      <span><a href="#">MEMBERSHIP TERMS</a></span>
      <span><a href="#">CORD OF CONDUCT </a></span>
     </div>
  
 
  </div>