<!DOCTYPE html>
<html>
  <head>
   <% include ../partials/head.ejs %>
  </head>
  <body >
    <% include ../partials/nav.ejs %>
    <div id="app">

        <div class="top-startups">
            <h2>Our Startups</h2>
          </div>
        
          <div class="container">
           <div class="row">
            <div class="col-md-4 col-xs-12">
             <div class="startup">
              <div class="image">
               <img src="/images/veive.png" class="img-responsive">
              </div>
              <div class="content">
               <h4>Veive</h4>
               <p>Get in touch with friends, post your experiences and reviews. 
               With Veive, you know where to go, when, how and why!..<a href="https://www.veive.co.ke/" target="_blank">Visit</a></p>
              </div>
             </div>
            </div>
            <div class="col-md-4 col-xs-12">
             <div class="startup">
              <div class="image">
               <img src="/images/salonhunt.png" class="img-responsive">
              </div>
              <div class="content">
               <h4>Salonhunt</h4>
               <p>Salonhunt lets you find salont around around you. It saves you time and always update you on latest hair style. <a href="salonhunt.ke/" target="_blank">visit</a></p>
              </div>
             </div>
            </div>
            <div class="col-md-4 col-xs-12">
             <div class="startup">
              <div class="image">
               <img src="/images/sec.jpg" class="img-responsive">
              </div>
              <div class="content">
               <h4>SmartSec</h4>
               <p>IoT innovation that detects intrusion, sends quick notifications and provides a real time video of what is happening at your premise.</p>
              </div>
             </div>
            </div>
                 
           </div>
          </div>

    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>