<header class="header dark-bg">
    <a href="index.html" class="logo">SPACE</a>
    <a href="user.html" class="user">
    <p style="color:white"><i class="fa fa-user" style="color: #ffffff; font-size: 30px; margin-left: 10px; margin-right: 5px"></i> John Doe</p>
    </a>
    <a href="notification.html" class="notification">
      <i class="fa fa-bell" style="color: #ffab40; font-size: 30px"></i>
    </a>
    
  
   </header>