<div id="sidebar">
        <ul class="sidebar-menu">                
            <li>
                <a class="" href="/admin">
                    <span>Dashboard</span>
                </a>
            </li>
                <li>
                <a class="" href="/admin/statistics">
                  <span>Statistics</span>
                </a>
            </li>
            <li>                     
                <a class="" href="/admin/members">
                    <span>Members</span>  
                </a>
             </li>
                  <li>     
                <a class="" href="/admin/events">
                    <span>Events</span>  
                </a>
             </li>   
        </ul>
    </div>